@model ICollection<Documents.Tracker.Core.DTO.TodoTasks.TaskLocationOTO>
@{
    var cntlname = ViewContext.RouteData.Values["Page"].ToString();
}
<div class="kt-portlet__body colo">
    <div class="kt-portlet kt-portlet--height-fluid">

        <div class="kt-portlet__body">
            <!--begin::k-widget4-->
            <div class="kt-widget4">
                <table class="table  table-bordered table-hover table-checkable" id="kt_table_1">
                    <thead>
                        <tr>
                            <th width="10%">Location</th>
                            <th width="10%">Order</th>
                            <th width="10%">Service</th>
                            <th width="10%">Status</th>
                            <th width="10%">Status Date</th>
                            <th width="10%" class="notexport">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @item.LocationAreas.Name
                            </td>
                            <td>
                                <a target="_blank" asp-page="/Orders/OrderDetails" asp-route-id="@item.Order.OrderKey">@item.Order.OrderKey</a>
                            </td>
                            <td>
                                @item.Product.ShortName
                            </td>

                            <td>
                                @item.TaskStatus.Name
                            </td>
                            <td>
                                @item.TaskStatusDate
                            </td>
                            <td>
                                <vc:set-task-service-status task-service-id="@item.Id"/>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <!--end::Widget 9-->
        </div>
    </div>

</div>