@page
@model Documents.Tracker.UI.Web.Pages.Orders.OrderDetailsModel
@{
    ViewData["Title"] = "OrderDetails";
}


<!-- begin:: Content Head -->
<div asp-validation-summary="All" class="text-danger"></div>
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <form method="post" class="col-sm-6">
            <vc:set-order-status id="@Model.OrderDetails.OrderKey">
            </vc:set-order-status>
        </form>
            @*@await Component.InvokeAsync("OrderStatus" , new { id = @Model.OrderDetails.OrderKey })*@

    </div>
    </div>
<!-- end:: Content Head -->

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col col-4">
                    <vc:order-header order-key="@Model.OrderDetails.OrderKey" />
                </div>
                <div class="col col-4">
                   <vc:order-payment order-key="@Model.OrderDetails.OrderKey"/>
                </div>
                <div class="col col-4">
                    <vc:consumer-info conusmer-id="@Model.OrderDetails.ConsumerId" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-architecture-and-city"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Order
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                @*<partial name="_Exportbar" />*@
                                <form method="post">
                                    <vc:set-order-status id="@Model.OrderDetails.OrderKey" />
                                    &nbsp;
                                </form>
                                   
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__body">
                    <!--begin: Datatable -->

                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                    <th width="10%">Name</th>
                                    @*<th width="10%">Identity Id</th>*@
                                    <th width="10%">Price</th>
                                    <th width="10%">QTY</th>
                                    <th>Required Docs</th>
                                    @*<th width="10%" class="notexport"></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderDetails != null)
                                {
                                    @foreach (var item in Model.OrderDetails.OrderItems.ToList())
                                    {
                                        <tr>

                                            @*
                                                <td>@item.IdentityId</td>
                                            *@
                                            <td>
                                                @item.Product.Name
                                            </td>
                                            <td>
                                                @item.ProductPrice
                                            </td>
                                            <td>
                                                @item.ProductUnit
                                            </td>
                                            <td>
                                                <div class="table table-borderless">
                                                    @*<vc:product-required-documents product-id="@item.ProductId" />*@
                                                    <vc:consumer-documents product-id="@item.ProductId" conusmer-id="@Model.OrderDetails.ConsumerId"/>
                                                </div>
                                            </td>
                                            @*<td>
                                                    <div class="btn-group " role="group">
                                                        <button type="button" onclick="AddEdit('@item.OrderKey','@cntlname','AddEditConsumer','RefId')" class="btn btn-sm btn-warning ">edit</button>
                                                        <form method="post"><button type="submit" asp-page-handler="DisableConsumer" asp-route-RefId="@item.OrderKey" onclick="confirm('Are you sure you want to delete?');" class="btn btn-sm btn-icon"><i class="flaticon-delete-1"></i></button></form>
                                                        <form method="get"><a asp-page="/AppConsumers/ConsumerAddress" asp-route-ConsumerRefId="@item.OrderKey" class="btn btn-sm  btn-icon "><i class="flaticon2-pin"></i></a></form>
                                                    </div>
                                                </td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    
                    <!--end: Datatable -->
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
 
}