@page
@model Documents.Tracker.UI.Web.Pages.Orders.OrdersModel
@{
    ViewData["Title"] = "Orders";
    var cntlname = ViewContext.RouteData.Values["Page"].ToString();

}


<!-- begin:: Content Head -->
<div asp-validation-summary="All" class="text-danger"></div>
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">

    </div>
</div>
<!-- end:: Content Head -->



<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-architecture-and-city"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Orders
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <partial name="_Exportbar" />
                                &nbsp;

                                @*<a href="#" onclick="AddEdit(0,'@cntlname','AddEditConsumer','RefId')" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>
                                    New Consumer
                                </a>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__body">
                    <!--begin: Datatable -->

                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                    <th width="10%">Id</th>
                                    @*<th width="10%">Identity Id</th>*@
                                    <th width="10%">Start Date</th>
                                    <th width="10%" class="notexport"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.orders != null)
                                {
                                    @foreach (var item in Model.orders)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-page="/Orders/OrderDetails" asp-route-id="@item.OrderKey" >@item.OrderKey</a>  
                                            </td>
                                            @*
                                                <td>@item.IdentityId</td>
                                            *@
                                            <td>
                                                @item.OrderDate
                                            </td>
                                            <td>
                                                <div class="btn-group " role="group">
                                                    <button type="button" onclick="AddEdit('@item.OrderKey','@cntlname','AddEditConsumer','RefId')" class="btn btn-sm btn-warning ">edit</button>
                                                    <form method="post"><button type="submit" asp-page-handler="DisableConsumer" asp-route-RefId="@item.OrderKey" onclick="confirm('Are you sure you want to delete?');" class="btn btn-sm btn-icon"><i class="flaticon-delete-1"></i></button></form>
                                                    <form method="get"><a asp-page="/AppConsumers/ConsumerAddress" asp-route-ConsumerRefId="@item.OrderKey" class="btn btn-sm  btn-icon "><i class="flaticon2-pin"></i></a></form>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#kt_table_1').DataTable({
                //scrollY: 300,
                deferRender: true,
                //scroller: true,
                fixedHeader: true
                , order: [[0, 'asc']],
                //rowGroup: { dataSrc: 0 },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdf',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    }, {
                        extend: 'excel',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    }, {
                        extend: 'csv',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: [1, 2]
                        }
                    }
                ]


            })
        });
    </script>
}
