@page
@model Documents.Tracker.UI.Web.Pages.AppConsumers.ConsumerAddressModel


@{
    ViewData["Title"] = "Consumers";
    var cntlname = ViewContext.RouteData.Values["Page"].ToString();
}
<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>
<!-- end:: Content Head -->


<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-architecture-and-city"></i>
                        </span>
                        <h3 class="kt-portlet__head-title">
                            Consumer Addresses
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-wrapper">
                            <div class="kt-portlet__head-actions">
                                <a asp-page="/AppConsumers/Consumers" class="btn btn-dark btn-icon-sm">
                                    <i class="flaticon2-back"></i>
                                    Back
                                </a>
                                <partial name="_Exportbar" />
                                &nbsp;

                                <a href="#" onclick="AddEditForm('&ConsumerRefId=' + @Model.ManageAppConsumerDTO.Consumer.RefId,0,'@cntlname','AddEditConsumerAddress','RefId')" class="btn btn-brand btn-elevate btn-icon-sm">
                                    <i class="la la-plus"></i>
                                    New Consumer Address
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__body">
                    <!--begin: Datatable -->

                    <div class="table-responsive">
                        <table class="table  table-bordered table-hover table-checkable" id="kt_table_1">
                            <thead>
                                <tr>
                                    <th width="20%">Location</th>
                                    <th width="40%">Address</th>
                                    <th width="10%">@*Phone Number*@</th>
                                    <th width="10%">Default</th>
                                    <th class="notexport"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ManageAppConsumerDTO.AppConsumerAddresses != null)
                                {
                                    @foreach (var item in Model.ManageAppConsumerDTO.AppConsumerAddresses)
                                    {
                                <tr>
                                    <td>
                                        @item.FullLocation
                                    </td>
                                    <td>
                                        @item.Address1
                                    </td>
                                    @*<td>
                                        @item.PhoneNumber
                                    </td>*@
                                    <td>
                                        @if (item.IsDefault)
                                        {<i class="flaticon2-check-mark"></i>}
                                        else
                                        { <i class="flaticon2-line"></i>}
                                    </td>
                                    <td>
                                        <div class="btn-group " role="group">
                                            <button type="button" onclick="AddEdit(@item.RefId,'@cntlname','AddEditConsumerAddress','RefId')" class="btn btn-sm btn-warning ">edit</button>
                                            <form method="post"><button type="submit" asp-page-handler="SetDefaultConsumerAddress" asp-route-consumerRefId="@item.ConsumerId" asp-route-RefId="@item.RefId" class="btn btn-sm btn-icon "><i class="flaticon2-checkmark"></i></button></form>
                                        </div>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <!--end: Datatable -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#kt_table_1').DataTable({
                //scrollY: 300,
                deferRender: true,
                //scroller: true,
                fixedHeader: true
                , order: [[0, 'asc']],

                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdf',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    }, {
                        extend: 'excel',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    }, {
                        extend: 'csv',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: "thead th:not(.noExport)"
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Test Data export',
                        exportOptions: {
                            columns: [1, 2]
                        }
                    }
                ]


            })
        });
    </script>
}